h1 {
  padding-top: 20px;
}
.checkbox {
  margin: 10px auto;
}

/* body {
  background-color: burlywood;
} */
button {
  margin-bottom: 15px;
}

.main {
  background-color: whitesmoke;
  margin: 50px 50px;
  border-radius: 10px;
  border: 1px solid #0d6efd;
}
